[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiosqlite = "*"

[dev-packages]
pytest = "*"
setuptools = "*"

[requires]
python_version = "3.11"

[streets-db]
overpass = "*"
requests = "*"
